---
layout: home
---

<header
  class="jumbo"
  style="background-image: url(&quot;/static/media/assume-calibration-pose/assume-calibration-pose-cover.jpg&quot;)"
>
  <div class="jumbo-inner">
    <div class="jumbo-titles">
      <h1 class="jumbo-title">The Algorithmic Gaze</h1>
      <div class="jumbo-subtitle">What do computers see through the eye of AI?</div>
    </div>
    <div class="jumbo-spacer"></div>

    <div class="jumbo-spacer"></div>
    <a class="jumbo-collab" href="/collaborations/assume-calibration-pose">
      <h3 class="jumbo-collab-pre">Featured Collaboration</h3>
      <p class="jumbo-collab-title">Assume Calibration Pose: This Breath Isn't Mine</p>
      <p class="jumbo-collab-subtitle">AI / Human Dance Performance</p>
    </a>
  </div>
</header>

<section class="intro">
  <p>
    The Algorithmic Gaze is the research lab of
    <a href="https://www.sintlucasantwerpen.be/" target="_blank">Sint Lucas Antwerpen</a>
    exploring the impact of AI through interesting projects and democratizing the tools of machine learning.
  </p>
  <p>
    Our mission is to bring AI into the artist's practice by developing open-source tools and methodologies that make
    the domain more accessible and transparent. Our research asks how AI can become a trusted partner in the creative
    process, both during creation and execution. We explore how AI understands the materiality of body, space and time.
    Our approach avoids megalomanic datasets; instead we focus on carefully self-assembled datasets and an intuitive
    visual understanding of algorithms to avoid the bias inherent in large-scale models and take ownership of our own
    "small AI."
  </p>
  <p><a href="/about">Read More</a></p>
</section>

<section class="projects" id="projects">
  <h1>Projects</h1>
  <p>We do research in the field of creative AI.</p>
  <div class="figure-grid">
    {% for project in collections.sortedProjects %}
    <a class="figure-link" href="{{ project.url }}">
      <figure>
        <img class="project-thumb" src="{{ project.data.thumb_image }}" alt="{{ project.data.title }}" />
        <figcaption>
          <p class="title">{{ project.data.title }} ({{ project.data.period }})</p>
          <p class="subtitle">{{ project.data.subtitle }}</p>
        </figcaption>
      </figure>
    </a>
    {% endfor %}
  </div>
</section>

<section class="tools" id="tools">
  <h1>Tools</h1>
  <p>We develop free software tools to simplify the process of training and exploring machine learning models.</p>
  <div class="side-by-side">
    <a class="figure-link" href="/tools/figment">
      <figure>
        <img src="/static/media/figment/figment-screenshot.png" alt="Screenshot of the Figment application" />
        <figcaption>
          <p class="title">Figment</p>
          <p class="subtitle">Real-time image manipulation for machine learning</p>
        </figcaption>
      </figure>
    </a>
    <a class="figure-link" href="/tools/gandelve">
      <figure>
        <img src="/static/media/gandelve/gandelve-screenshot.png" alt="Screenshot of the GANDelve application" />
        <figcaption>
          <p class="title">GANDelve</p>
          <p class="subtitle">Deep exploration of tailor-made GANs</p>
        </figcaption>
      </figure>
    </a>
  </div>
</section>

<section class="collaborations" id="collaborations">
  <h1>Collaborations</h1>
  <p>We help artists use our tools and methods to create new AI-based work.</p>
  <div class="figure-grid">
    {% for collab in collections.collaboration reversed %}
    <a class="figure-link" href="{{ collab.url }}">
      <figure>
        <img class="collab-thumb" src="{{ collab.data.thumb_image }}" alt="{{ collab.data.title }}" />
        <figcaption>
          <p class="title">{{ collab.data.title }}</p>
          <p class="subtitle">{{ collab.data.subtitle }}</p>
        </figcaption>
      </figure>
    </a>
    {% endfor %}
  </div>
</section>

<section id="newsletter-signup">
  <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css" />
  <div id="mc_embed_signup">
    <h2>Subscribe to our newsletter ✨</h2>
    <form
      action="https://kdg.us4.list-manage.com/subscribe/post?u=4483a7db37e51ca211368a923&amp;id=00e430ba06&amp;f_id=002435eaf0"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate"
      target="_blank"
    >
      <div id="mc_embed_signup_scroll">
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label
          ><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" />
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display: none"></div>
          <div class="response" id="mce-success-response" style="display: none"></div>
        </div>
        <div style="position: absolute; left: -5000px" aria-hidden="true">
          <input type="text" name="b_4483a7db37e51ca211368a923_00e430ba06" tabindex="-1" value="" />
        </div>
        <div class="clear">
          <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe" />
        </div>
      </div>
    </form>
  </div>
  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
  <script type="text/javascript">
    (function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = "EMAIL";
      ftypes[0] = "email";
      fnames[1] = "FNAME";
      ftypes[1] = "text";
      fnames[2] = "LNAME";
      ftypes[2] = "text";
      fnames[3] = "ADDRESS";
      ftypes[3] = "address";
      fnames[4] = "PHONE";
      ftypes[4] = "phone";
    })(jQuery);
    var $mcj = jQuery.noConflict(true);
  </script>
</section>
